.samplePage_1_91 {
  display: flex;
  width: 877px;
  height: 844px;
  padding: 105px 10px 10px 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #fff;
  opacity: 1;

  margin: 0 auto;
}

.editProfile_2_11 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .editProfile {
    font-weight: 400;
  }
}

.frame73_7_71 {
  display: flex;
  padding: 10px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  opacity: 1;
}

.vector_7_81 {
  height: unset;
}

.lucideImagePlus_7_74 {
  position: relative;
  width: 16px;
  height: 16px;
  opacity: 1;
}

.frame75_7_73 {
  position: relative;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.vector_7_89 {
  height: unset;
}

.lucideX_7_85 {
  position: relative;
  width: 16px;
  height: 16px;
  opacity: 1;
}

.frame76_7_82 {
  position: relative;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.vector_7_127 {
  height: unset;
}

.lucideRefreshCcw_7_121 {
  position: relative;
  width: 16px;
  height: 16px;
  opacity: 1;
}

.frame78_7_91 {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.47);
  opacity: 1;
}

.frame77_7_90 {
  position: absolute;
  display: flex;
  width: 80px;
  height: 80px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  left: 16px;
  bottom: -40px;
  border-radius: 80px;
  border: 4px solid #fff;
  background: url(/fd8880d94299f82116bd602675b1adf2937295ec.png) lightgray 50% /
    cover no-repeat;
  opacity: 1;
}

.frame71_7_69 {
  position: relative;
  display: flex;
  height: 130px;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: url(/460fa47e29bef0c534ee52ca3fb61c5c3ebd44a7.png) lightgray 50% /
    cover no-repeat;
  opacity: 1;
}

.firstName_7_99 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .firstName {
    font-weight: 400;
  }
}

.margaret_7_102 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .margaret {
    font-weight: 400;
  }
}

.frame81_7_100 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.frame80_7_98 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  flex: 1 0 0;
  opacity: 1;
}

.lastName_7_104 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .lastName {
    font-weight: 400;
  }
}

.villard_7_106 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .villard {
    font-weight: 400;
  }
}

.frame81_7_105 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.frame81_7_103 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  flex: 1 0 0;
  opacity: 1;
}

.frame82_7_101 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  opacity: 1;
}

.frame79_7_96 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  opacity: 1;
}

.username_7_108 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .username {
    font-weight: 400;
  }
}

.margaretVillard69_7_110 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .margaretVillard69 {
    font-weight: 400;
  }
}

.frame81_7_109 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.frame80_7_107 {
  display: flex;
  height: 64px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  opacity: 1;
}

.website_7_112 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .website {
    font-weight: 400;
  }
}

.httpsWwwMargaretCom_7_114 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .httpsWwwMargaret {
    font-weight: 400;
  }
}

.frame81_7_113 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.frame81_7_111 {
  display: flex;
  height: 64px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  opacity: 1;
}

.biography_7_116 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .biography {
    font-weight: 400;
  }
}

.heyI_7_118 {
  flex: 1 0 0;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .heyIAmMargaret {
    font-weight: 400;
  }
}

.frame81_7_117 {
  display: flex;
  height: 78px;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

._98CharactersLeft_7_120 {
  height: 17px;
  align-self: stretch;
  text-align: right;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  ._98CharactersLeft {
    font-weight: 400;
  }
}

.frame82_7_115 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  opacity: 1;
}

.frame72_7_70 {
  display: flex;
  padding: 47px 20px 10px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  opacity: 1;
}

.cancel_2_17 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .cancel {
    font-weight: 400;
  }
}

.button_2_16 {
  display: flex;
  padding: 6px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid #000;
  background: #fff;
  opacity: 1;
}

.saveChanges_7_129 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);

  .saveChanges {
    font-weight: 400;
  }
}

.button_7_128 {
  display: flex;
  padding: 6px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: #000;
  opacity: 1;
}

.frame66_2_13 {
  display: flex;
  padding: 15px 20px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-top: 1px solid #000;
  opacity: 1;
}

.sampleDialogContent_2_10 {
  display: flex;
  width: 512px;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  opacity: 1;
}

.editProfile_1_93 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .editProfile {
    font-weight: 400;
  }
}

.frame69_1_92 {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  background: #fff;
  opacity: 1;
}

.dialogContent1_8_175 {
  height: 213.173px;
}

.welcomeTo_8_176 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .welcomeToOriginUi {
    font-weight: 400;
  }
}

.discoverA_8_177 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .discoverAPowerful {
    font-weight: 400;
  }
}

.frame88_8_191 {
  display: flex;
  padding: 0px 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
  opacity: 1;
}

.frame89_8_192 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  align-self: stretch;
  opacity: 1;
}

.frame83_8_178 {
  position: relative;
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #000;
  opacity: 1;
}

.frame84_8_179 {
  position: relative;
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #c4c4c4;
  opacity: 1;
}

.frame85_8_180 {
  position: relative;
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #c4c4c4;
  opacity: 1;
}

.frame86_8_181 {
  position: relative;
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #c4c4c4;
  opacity: 1;
}

.frame90_8_193 {
  display: flex;
  width: 48px;
  align-items: center;
  gap: 8px;
  opacity: 1;
}

.skip_8_182 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .skip {
    font-weight: 400;
  }
}

.next_8_183 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(255, 255, 255, 1);

  .next {
    font-weight: 400;
  }
}

.vector_8_189 {
  height: unset;
}

.lucideArrowRight_8_185 {
  position: relative;
  width: 16px;
  height: 16px;
  opacity: 1;
}

.frame87_8_184 {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  background: #000;
  opacity: 1;
}

.frame91_8_194 {
  display: flex;
  width: 146px;
  align-items: center;
  gap: 29px;
  opacity: 1;
}

.frame92_8_195 {
  display: flex;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  opacity: 1;
}

.onboarding_8_174 {
  display: flex;
  width: 407px;
  padding: 15px 15px 30px 15px;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  background: #fff;
  opacity: 1;
}

.onboardingDialog_9_198 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .onboardingDialog {
    font-weight: 400;
  }
}

.frame71_9_197 {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  background: #fff;
  opacity: 1;
}

.vector_9_207 {
  height: unset;
}

.lucideRefreshCcw_9_201 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  opacity: 1;
}

.frame94_9_200 {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 36px;
  border: 1px solid #dfdfdf;
  opacity: 1;
}

.changeYourPlan_9_208 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .changeYourPlan {
    font-weight: 600;
  }
}

.pickOne_9_209 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .pickOneOfThe {
    font-weight: 400;
  }
}

.frame117_10_275 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  opacity: 1;
}

.frame_9_263 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  align-self: stretch;
  opacity: 1;
}

.essential_9_211 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .essential {
    font-weight: 500;
  }
}

._4PerMemberMonth_9_212 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  ._4PerMemberMonth {
    font-weight: 400;
  }
}

.frame113_10_268 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  opacity: 1;
}

.frame97_9_214 {
  position: relative;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  opacity: 1;
}

.frame96_9_213 {
  position: relative;
  display: flex;
  width: 16px;
  height: 16px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #000;
  opacity: 1;
}

.frame95_9_210 {
  display: flex;
  padding: 11px 15px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.standart_9_216 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .standart {
    font-weight: 500;
  }
}

._19PerMemberMonth_9_217 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  ._19PerMemberMonth {
    font-weight: 400;
  }
}

.frame114_10_269 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  opacity: 1;
}

.frame96_9_218 {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 1px solid #000;
  opacity: 1;
}

.frame96_9_215 {
  display: flex;
  padding: 11px 15px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.enterprise_9_225 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .enterprise {
    font-weight: 500;
  }
}

._32PerMemberMonth_9_226 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  ._32PerMemberMonth {
    font-weight: 400;
  }
}

.frame115_10_270 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  opacity: 1;
}

.frame96_9_227 {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 1px solid #000;
  opacity: 1;
}

.frame98_9_224 {
  display: flex;
  padding: 11px 15px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.frame112_10_267 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  opacity: 1;
}

.featuresIncludes_9_228 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .featuresIncludes {
    font-weight: 500;
  }
}

.vector_9_232 {
  height: unset;
}

.lucideCheck_9_229 {
  position: relative;
  width: 16px;
  height: 16px;
  opacity: 1;
}

.createUnlimitedProjects_9_233 {
  flex: 1 0 0;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .createUnlimited {
    font-weight: 400;
  }
}

.frame99_9_234 {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
  opacity: 1;
}

.vector_9_237 {
  height: unset;
}

.lucideCheck_9_236 {
  position: relative;
  width: 16px;
  height: 16px;
  opacity: 1;
}

.removeWatermarks_9_238 {
  flex: 1 0 0;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .removeWatermarks {
    font-weight: 400;
  }
}

.frame100_9_235 {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  opacity: 1;
}

.vector_9_241 {
  height: unset;
}

.lucideCheck_9_240 {
  position: relative;
  width: 16px;
  height: 16px;
  opacity: 1;
}

.addUnlimited_9_242 {
  flex: 1 0 0;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .addUnlimitedUsers {
    font-weight: 400;
  }
}

.frame101_9_239 {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  opacity: 1;
}

.vector_9_245 {
  height: unset;
}

.lucideCheck_9_244 {
  position: relative;
  width: 16px;
  height: 16px;
  opacity: 1;
}

.uploadUnlimitedFiles_9_246 {
  flex: 1 0 0;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .uploadUnlimited {
    font-weight: 400;
  }
}

.frame102_9_243 {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  opacity: 1;
}

.vector_9_249 {
  height: unset;
}

.lucideCheck_9_248 {
  position: relative;
  width: 16px;
  height: 16px;
  opacity: 1;
}

._7DayMoney_9_250 {
  flex: 1 0 0;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  ._7DayMoneyBack {
    font-weight: 400;
  }
}

.frame103_9_247 {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  opacity: 1;
}

.vector_9_253 {
  height: unset;
}

.lucideCheck_9_252 {
  position: relative;
  width: 16px;
  height: 16px;
  opacity: 1;
}

.advancedPermissions_9_254 {
  flex: 1 0 0;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .advanced {
    font-weight: 400;
  }
}

.frame104_9_251 {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  opacity: 1;
}

.frame116_10_273 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  opacity: 1;
}

.frame_9_260 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  align-self: stretch;
  opacity: 1;
}

.changePlan_9_256 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(255, 255, 255, 1);

  .changePlan {
    font-weight: 400;
  }
}

.frame105_9_255 {
  display: flex;
  padding: 7px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #000;
  opacity: 1;
}

.cancel_9_258 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .cancel {
    font-weight: 400;
  }
}

.frame106_9_257 {
  display: flex;
  padding: 7px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.frame107_9_259 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  opacity: 1;
}

.changePlanDialog_9_199 {
  display: flex;
  width: 362px;
  padding: 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background: #fff;
  opacity: 1;
}

.changePlan_10_272 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .changePlan {
    font-weight: 400;
  }
}

.frame72_10_271 {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  background: #fff;
  opacity: 1;
}

.vector_14_415 {
  height: unset;
}

.lucideStore_14_408 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  opacity: 1;
}

.frame94_14_279 {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 36px;
  border: 1px solid #dfdfdf;
  opacity: 1;
}

.confirmAndPay_14_283 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .confirmAndPay {
    font-weight: 600;
  }
}

.paySecurely_14_284 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .paySecurelyAnd {
    font-weight: 400;
  }
}

.frame117_14_282 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  opacity: 1;
}

.frame_14_278 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  align-self: stretch;
  opacity: 1;
}

.monthly_14_288 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .monthly {
    font-weight: 500;
  }
}

._32Month_14_289 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  ._32Month {
    font-weight: 400;
  }
}

.frame113_14_287 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  opacity: 1;
}

.frame95_14_286 {
  display: flex;
  padding: 11px 15px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  border: 1px solid #b9b9b9;
  opacity: 1;
}

.yearly_14_294 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .yearly {
    font-weight: 500;
  }
}

._320Year_14_295 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  ._320Year {
    font-weight: 400;
  }
}

.frame114_14_293 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  opacity: 1;
}

.popular_14_334 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(255, 255, 255, 1);

  .popular {
    font-weight: 400;
  }
}

.frame96_14_296 {
  position: absolute;
  display: flex;
  width: 58px;
  padding: 2px 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  right: 28.5px;
  top: 11px;
  border-radius: 16px;
  background: #000;
  opacity: 1;
}

.frame96_14_292 {
  position: relative;
  display: flex;
  padding: 11px 15px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  border: 1px solid #000;
  opacity: 1;
}

.frame112_14_285 {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  opacity: 1;
}

.nameOnCard_14_336 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .nameOnCard {
    font-weight: 400;
  }
}

.margaretVillard69_14_338 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .margaretVillard69 {
    font-weight: 400;
  }
}

.frame81_14_337 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.frame80_14_335 {
  display: flex;
  height: 64px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  opacity: 1;
}

.cardDetails_14_347 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .cardDetails {
    font-weight: 400;
  }
}

.cardNumber_14_349 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(136, 136, 136, 1);

  .cardNumber {
    font-weight: 400;
  }
}

.vector_14_360 {
  height: unset;
}

.lucideCreditCard_14_356 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  opacity: 1;
}

.frame81_14_348 {
  display: flex;
  width: 339px;
  height: 37px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  opacity: 1;
}

.mmYy_14_351 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(136, 136, 136, 1);

  .mmYy {
    font-weight: 400;
  }
}

.frame82_14_350 {
  display: flex;
  height: 37px;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  opacity: 1;
}

.cvc_14_354 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(136, 136, 136, 1);

  .cvc {
    font-weight: 400;
  }
}

.frame83_14_353 {
  display: flex;
  height: 37px;
  padding: 10px;
  align-items: center;
  flex: 1 0 0;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  opacity: 1;
}

.frame119_14_355 {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  opacity: 1;
}

.frame118_14_352 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 1;
}

.frame113_14_346 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  opacity: 1;
}

.addCoupon_14_340 {
  text-align: center;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .addCoupon {
    font-weight: 400;
  }
}

.subscribe_14_331 {
  width: 70px;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(255, 255, 255, 1);

  .subscribe {
    font-weight: 400;
  }
}

.frame105_14_330 {
  display: flex;
  padding: 7px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #000;
  opacity: 1;
}

.paymentsAre_14_339 {
  align-self: stretch;
  text-align: center;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .paymentsAre {
    font-weight: 400;
  }
}

.checkout_14_277 {
  display: flex;
  width: 389px;
  padding: 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background: #fff;
  opacity: 1;
}

.checkout_7_68 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .checkout {
    font-weight: 400;
  }
}

.frame70_7_67 {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  background: #fff;
  opacity: 1;
}

.vector_14_422 {
  height: unset;
}

.lucideUserPlus_14_416 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  opacity: 1;
}

.frame94_14_363 {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 36px;
  border: 1px solid #dfdfdf;
  opacity: 1;
}

.inviteTeamMembers_14_367 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .inviteTeamMembers {
    font-weight: 600;
  }
}

.inviteTeammates_14_368 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .inviteTeammatesTo {
    font-weight: 400;
  }
}

.frame117_14_366 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  opacity: 1;
}

.frame_14_362 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  align-self: stretch;
  opacity: 1;
}

.inviteViaEmail_14_381 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .inviteViaEmail {
    font-weight: 400;
  }
}

.markYourcompanyCom_14_383 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .markYourcompanyCom {
    font-weight: 400;
  }
}

.frame81_14_382 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.markYourcompanyCom_14_425 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .markYourcompanyCom {
    font-weight: 400;
  }
}

.frame82_14_424 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.hiYourcompanyCom_14_427 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(180, 180, 180, 1);

  .hiYourcompanyCom {
    font-weight: 400;
  }
}

.frame83_14_426 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.frame80_14_380 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  opacity: 1;
}

.addAnother_14_396 {
  text-align: center;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .addAnother {
    font-weight: 400;
  }
}

.sendInvites_14_398 {
  width: 70px;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(255, 255, 255, 1);

  .sendInvites {
    font-weight: 400;
  }
}

.frame105_14_397 {
  display: flex;
  padding: 7px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #000;
  opacity: 1;
}

.inviteVia_15_431 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .inviteViaMagic {
    font-weight: 400;
  }
}

.httpsOriginuiComRefer87689_15_433 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .httpsOriginuiCom {
    font-weight: 400;
  }
}

.vector_15_442 {
  height: unset;
}

.lucideCopy_15_438 {
  position: relative;
  width: 16px;
  height: 16px;
  opacity: 1;
}

.frame81_15_432 {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.frame106_15_430 {
  display: flex;
  padding-top: 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  border-top: 1px solid #000;
  opacity: 1;
}

.inviteMembers_14_361 {
  display: flex;
  width: 389px;
  padding: 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background: #fff;
  opacity: 1;
}

.inviteMembers_15_444 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .inviteMembers {
    font-weight: 400;
  }
}

.frame73_15_443 {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  background: #fff;
  opacity: 1;
}

.vector_15_477 {
  height: unset;
}

.lucideFigma_15_470 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  opacity: 1;
}

.frame94_15_447 {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 36px;
  border: 1px solid #dfdfdf;
  opacity: 1;
}

.welcomeBack_15_451 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .welcomeBack {
    font-weight: 600;
  }
}

.enterYour_15_452 {
  text-align: center;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .enterYour {
    font-weight: 400;
  }
}

.frame117_15_450 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  opacity: 1;
}

.frame_15_446 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  align-self: stretch;
  opacity: 1;
}

.email_15_454 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .email {
    font-weight: 400;
  }
}

.markYourcompanyCom_15_456 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(172, 172, 172, 1);

  .markYourcompanyCom {
    font-weight: 400;
  }
}

.frame81_15_455 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.frame80_15_453 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  opacity: 1;
}

.password_15_480 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .password {
    font-weight: 400;
  }
}

.enterYourPassword_15_482 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(172, 172, 172, 1);

  .enterYourPassword {
    font-weight: 400;
  }
}

.frame81_15_481 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.frame107_15_479 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  opacity: 1;
}

.frame120_15_492 {
  position: relative;
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
  border: 1px solid #000;
  opacity: 1;
}

.rememberMe_15_486 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .rememberMe {
    font-weight: 400;
  }
}

.frame81_15_485 {
  display: flex;
  padding: 10px 0px;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
  opacity: 1;
}

.forgotPassword_15_484 {
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .forgotPassword {
    font-weight: 400;
  }
}

.frame108_15_483 {
  display: flex;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  opacity: 1;
}

.signIn_15_463 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(255, 255, 255, 1);

  .signIn {
    font-weight: 400;
  }
}

.frame105_15_462 {
  display: flex;
  padding: 7px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #000;
  opacity: 1;
}

.or_15_496 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(201, 201, 201, 1);

  .or {
    font-weight: 400;
  }
}

.frame122_15_497 {
  position: absolute;
  display: flex;
  width: 30px;
  padding: 0px 5px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  right: 154px;
  top: -8px;
  background: #fff;
  opacity: 1;
}

.frame121_15_495 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #c9c9c9;
  opacity: 1;
}

.cancel_15_494 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .cancel {
    font-weight: 400;
  }
}

.frame109_15_493 {
  display: flex;
  padding: 7px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.signIn_15_445 {
  display: flex;
  width: 389px;
  padding: 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background: #fff;
  opacity: 1;
}

.signIn_15_499 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .signIn {
    font-weight: 400;
  }
}

.frame74_15_498 {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  background: #fff;
  opacity: 1;
}

.vector_15_504 {
  height: unset;
}

.lucideFigma_15_503 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  opacity: 1;
}

.frame94_15_502 {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 36px;
  border: 1px solid #dfdfdf;
  opacity: 1;
}

.signUpAcme_15_506 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .signUpAcme {
    font-weight: 600;
  }
}

.weJust_15_507 {
  text-align: center;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .weJustNeedAFew {
    font-weight: 400;
  }
}

.frame117_15_505 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  opacity: 1;
}

.frame_15_501 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  align-self: stretch;
  opacity: 1;
}

.fullName_15_509 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .fullName {
    font-weight: 400;
  }
}

.mattWelsh_15_511 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(172, 172, 172, 1);

  .mattWelsh {
    font-weight: 400;
  }
}

.frame81_15_510 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.frame80_15_508 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  opacity: 1;
}

.email_15_529 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .email {
    font-weight: 400;
  }
}

.markYourcompanyCom_15_531 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(172, 172, 172, 1);

  .markYourcompanyCom {
    font-weight: 400;
  }
}

.frame81_15_530 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.frame122_15_528 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  opacity: 1;
}

.password_15_513 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .password {
    font-weight: 400;
  }
}

.enterYourPassword_15_515 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(172, 172, 172, 1);

  .enterYourPassword {
    font-weight: 400;
  }
}

.frame81_15_514 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.frame107_15_512 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  opacity: 1;
}

.signUp_15_522 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(255, 255, 255, 1);

  .signUp {
    font-weight: 400;
  }
}

.frame105_15_521 {
  display: flex;
  padding: 7px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #000;
  opacity: 1;
}

.or_15_525 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(201, 201, 201, 1);

  .or {
    font-weight: 400;
  }
}

.frame122_15_524 {
  position: absolute;
  display: flex;
  width: 30px;
  padding: 0px 5px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  right: 154px;
  top: -8px;
  background: #fff;
  opacity: 1;
}

.frame121_15_523 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #c9c9c9;
  opacity: 1;
}

.continueWithGoogle_15_527 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .continueWithGoogle {
    font-weight: 400;
  }
}

.frame109_15_526 {
  display: flex;
  padding: 7px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #000;
  opacity: 1;
}

.bySigning_15_532 {
  align-self: stretch;
  text-align: center;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .bySigningUpYou {
    font-weight: 400;
    text-decoration: none;
  }

  .terms {
    font-weight: 400;
    text-decoration: underline;
  }
}

.signUp_15_500 {
  display: flex;
  width: 389px;
  padding: 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background: #fff;
  opacity: 1;
}

.signUp_15_534 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .signUp {
    font-weight: 400;
  }
}

.frame75_15_533 {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  background: #fff;
  opacity: 1;
}

.vector_16_539 {
  height: unset;
}

.lucideFigma_16_538 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  opacity: 1;
}

.frame94_16_537 {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 36px;
  border: 1px solid #dfdfdf;
  opacity: 1;
}

.enterConfirmationCode_16_541 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .enterConfirmation {
    font-weight: 600;
  }
}

.checkYour_16_542 {
  text-align: center;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .checkYourEmailAnd {
    font-weight: 400;
  }
}

.frame117_16_540 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  opacity: 1;
}

.frame_16_536 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  align-self: stretch;
  opacity: 1;
}

.frame81_16_545 {
  display: flex;
  width: 37px;
  height: 37px;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid #000;
  opacity: 1;
}

.frame82_16_576 {
  display: flex;
  width: 37px;
  height: 37px;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid #000;
  opacity: 1;
}

.frame83_16_577 {
  display: flex;
  width: 37px;
  height: 37px;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid #000;
  opacity: 1;
}

.frame84_16_578 {
  display: flex;
  width: 37px;
  height: 37px;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid #000;
  opacity: 1;
}

.frame80_16_543 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  opacity: 1;
}

.resendCode_16_562 {
  align-self: stretch;
  text-align: center;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .resendCode {
    font-weight: 400;
  }
}

.otpCode_16_535 {
  display: flex;
  width: 389px;
  padding: 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background: #fff;
  opacity: 1;
}

.otpCode_16_580 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .otpCode {
    font-weight: 400;
  }
}

.frame76_16_579 {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  background: #fff;
  opacity: 1;
}

.areYouSure_21_582 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .areYouSure {
    font-weight: 700;
  }
}

.takeA_21_583 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .takeAMomentTo {
    font-weight: 400;
  }
}

.frame123_21_590 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
  opacity: 1;
}

.cancel_21_589 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 1);

  .cancel {
    font-weight: 400;
  }
}

.frame106_21_588 {
  display: flex;
  padding: 7px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  opacity: 1;
}

.ok_21_587 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: -0.25px;
  color: rgba(255, 255, 255, 1);

  .ok {
    font-weight: 400;
  }
}

.frame105_21_586 {
  display: flex;
  padding: 7px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #000;
  opacity: 1;
}

.frame107_21_585 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  opacity: 1;
}

.confirmationAlertDialog_21_581 {
  display: flex;
  width: 330px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  background: #fff;
  opacity: 1;
}

.alertDialog_21_592 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .alertDialog {
    font-weight: 400;
  }
}

.frame77_21_591 {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  background: #fff;
  opacity: 1;
}
