.lucideX_1_80 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 1;
}
/* Variants */

.dialogCloseButton_1_83 {
  display: inline-flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid #000;
  opacity: 1;
}

.lucideX_1_80 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 1;
}

.vector_i_1_80_1_77 {
  width: 8px;
  height: 8px;
  stroke-width: 0.667px;
  stroke: #000;
  opacity: 1;
}

.dialogCloseButton_1_83 {
  background: #fff;
}

.dialogCloseButton_1_83:hover {
  background: #dfdfdf;
}
